<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Contacts</title>
    <!--/* Used only for editing in Pinegrow. Remove comment to display -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <!--*/-->
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <br/>
        <div class="alert alert-success">
            <strong>New Contact</strong>
        </div>
    </div>
    <div class="container">
        <!--/*@thymesVar id="contact" type="com.nautsch.htmxbook.contactmanagement.EditContactForm"*/-->
        <form action="#" th:action="@{/contacts/new}" method="post" class="needs-validation" novalidate>
            <fieldset>
                <legend>Contact Values</legend>

                <div class="form-group">
                    <label id="name_label"
                           for="name_input">
                        Name
                    </label>
                    <input id="name_input"
                           type="text"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('contact.name') ? 'is-invalid' : ''}"
                           placeholder="Name"
                           required
                           th:field="*{contact.name}">
                    <div
                            id="contact_name_error"
                            th:errors="*{contact.name}"
                            class="invalid-feedback"
                    >
                    </div>
                </div>

                <div th:replace="~{fragments/contact/email_new :: contact_email_form_group}" />

                <div class="form-group">
                    <label id="phone_label"
                           for="phone_input">
                        Phone
                    </label>
                    <input id="phone_input"
                           type="tel"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('contact.phone') ? 'is-invalid' : ''}"
                           placeholder="+41 79 555 55 55"
                           required
                           th:field="*{contact.phone}">
                    <div
                            id="contact_phone_error"
                            th:errors="*{contact.phone}"
                            class="invalid-feedback"
                    >
                    </div>
                </div>

                <div class="form-group d-flex justify-content-between">
                    <a href="/contacts" class="btn btn-secondary">Back</a>
                    <div>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
<!--/* Used only for editing in Pinegrow. Remove comment to display -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<!--*/-->
</body>
</html>
